body {
  Background-color: #FCB03C;
  margin: 60px;
}
.title{ 
  grid-area: title;
  margin: 20px;
  font-size: 2em;
  font-align: center;
  justify-item: center;
  align-content: center;
}
.main{
  grid-area: main;
}
.aside{
  grid-area: side;
}
.content{
  grid-area: content;
}
.pic{
  grid-area: pic;
}

.structure{
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 200px 540px 200px;
  grid-template-areas:
    "...... title ....."
    "content main side"
    "pic main side";
}

.b{
 background-color: #5253;
 border-radius: 5px;
 padding: 1px 
}

a{
  background-color: clear;
  transition: background-color .4s;
}
a:hover{
  background-color: lightblue;
}
